html,
body {
  padding: 0px;
  margin: 0px;

  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.container {
  background-color: #121212;
  height: 100vh;
  max-width: 100vw;
  padding: 0px 250px;
}

.navigation-bar {
  list-style-type: none;
  display: flex;
  margin-bottom: 50px;
}

.navigation-bar li {
  margin: 10px 15px;
  padding: 12px 15px;
  font-size: small;
}

.grow {
  flex-grow: 1;
}

li a {
  color: inherit;
  text-decoration: none;
}

li.btn {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

/* Hero section */

div.hero {
  display: flex;
  height: fit-content;
  align-items: center;
}

div.hero div {
  width: 50%;
}

div.text .subtitle {
  font-family: "Quicksand", sans-serif;
  font-size: medium;
  text-transform: uppercase;
  display: block;
  margin-bottom: 10px;
}

div.text .title {
  display: block;
  font-family: "Quicksand", sans-serif;
  font-size: 2.8rem;
  line-height: 60px;
  text-transform: capitalize;
}

div.pics img {
  width: 100%;
  height: fit-content;
}

div.pics {
  background-image: url(/static/person.jpg);
  background-position: center;
  background-size: cover;
  height: 450px;
  border-radius: 5px;
}

span.button {
  margin: 20px 0px;
  padding: 10px 15px;
  border: 1px solid #ddd;
  display: block;
  width: fit-content;
  border-radius: 5px;
  cursor: pointer;
}

span.button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
span.button:active {
  opacity: 0.5;
}

.nav-mobile .navigation-bar {
  display: none;
}
.navigation-bar img {
  width: 20px;
}
.tmp {
  height: 100vh;
}
.navigation-bar.mobile {
  margin-bottom: 1px;
}
div.mobile-menu {
  display: none;
}

div.mobile-menu ul {
  list-style-type: none;
}
div.mobile-menu ul li {
  margin: 10px 15px;
  padding: 12px 15px;
  font-size: small;
}

@media only screen and (max-width: 900px) {
  .container {
    padding: 0px 20px;
  }
}
@media only screen and (max-width: 1000px) {
  .container {
    padding: 0px 50px;
  }
}
@media only screen and (max-width: 1100px) {
  .container {
    padding: 0px 150px;
  }
}

@media only screen and (max-width: 800px) {
  .nav-desktop .navigation-bar {
    display: none;
  }
  .nav-mobile .navigation-bar {
    display: flex !important;
  }
  .container {
    padding: 0px 15px;
    height: fit-content;
  }
  .hero {
    flex-direction: column;
  }
  div.hero .text {
    text-align: center;
  }
  div.hero .text .button {
    margin-left: auto;
    margin-right: auto;
  }
  div.hero div {
    width: 100% !important;
  }
}
